* {
    box-sizing: border-box;
}

body  {
    font-family: Helvetica;
}

#baner-lewy, #blok-lewy {
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
}