body {
    background-color: aliceblue;
}

div {
    margin: 5px;
}
header {
    text-align: center;
}

form {
    margin-left: 550px;
    font-family: Bahnschrift;
    width: 27%;
    border: 4px black solid;
    background-color: antiquewhite;
}
